
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Kullanıcılar kendi belgelerini okuyabilir ve güncelleyebilir
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && request.auth.uid == userId;
      
      // Yeni belge oluşturma sadece oturum açmış kişi ve kendi ID'si için olabilir
      allow create: if request.auth != null && request.auth.uid == userId;
      
      // Belge silme işlemini engelle
      allow delete: if false;
    }
    
    // Referans kodu ile kullanıcı arama işlemi için index
    match /users/{userId} {
      allow read: if request.auth != null && 
        request.query.limit <= 1 && 
        request.query.where.fieldPath == "referralCode";
    }
    
    // Diğer koleksiyonlar için varsayılan güvenlik
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
